<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title  %}
 
            {% endblock %} 
            | Quispe, Pisconte
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header>
            <div id="logotipo">
                <img src="{% static 'image/Untels.png' %}" />
                <h1>UC4</h1>
            </div>
        </header>
    
        <nav>
            <ul>
                <li>
                    <a href="/inicio"> Cursos</a>
                </li>
                <li>
                    <a href="/saludo"> Crear Curso</a>
                </li>
                <li>
                    <a href="/rango"> Carrera</a>
                </li>
                <li>
                    <a href="/rango2"> Crear Carrera</a>
                </li>
            </ul>
        </nav>

        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
     
        <div id="content">
    
            <div class="box">
    
                {% block content %}
                    <strong> Integrantes: Quispe Pisconte Jetmayer,Venturi Calero Daniel </strong>
                {% endblock %}
            </div>
    
        </div>
        <footer>
            UNTELS - Lenguaje de Programación III &copy; UC4
        </footer>
    
    </body>
</html>












